.mainPage {
  display: flex;
  flex-direction: column;
}

.navigation {
  height: 100%;
  min-height: 100vh;
  width: 25vw;
  background-color: #b31a4b;
  display: flex;
  flex-direction: column;
}

.menuBlock {
  width: 100%;
  height: 70px;
  background: #b31a4b;
  font-family: Geometria;
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
}

.icon {
  margin-right: 15px;
  margin-left: 22px;
}

.link {
  fill: gray;
  text-decoration: none;
  color: gray;
}

.selected {
  color: #414a4c;
  background-color: gray;
  width: 25vw;
  height: 70px;
  display: flex;
  font-size: 18px;
  line-height: 23px;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 700px){
  .menuBlock {
    font-size: 14px;
  }
  .selected{
    font-size: 14px;
  }
}
@media screen and (max-width: 400px){
  .menuBlock {
    font-size: 10px;
  }
  .selected {
    font-size: 10px;
  }
}

