.page{
  display: flex;
  font-family: Geometria;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 20px;
}

.photos{
  display: flex;
  margin-bottom: 20px;
}

.galImg{
  width: 350px;
  height: 300px;
}

.buttons{
  background: #b31a4b;
  color: #ffffff;
  width: 150px;
  height: 10%;
  margin: 2%;
  padding: 5%;
  cursor: pointer;
}

@media screen and (max-width: 1024px){
  .photos{
    flex-direction: column;
  }
  .galImg{
    margin-left: 15px;
    width: 60%;
    height: 80%;
  }
  .buttons{
    font-size: 10px;
  }
  .content{
   justify-content: flex-start;
  }
}